<h1 id="tableLabel">User info</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="user === undefined"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="user !== undefined">
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </tbody>
</table>
